.App {
  header {
    position: absolute;
    color: white;
  }
  font-family: "Courier New", Courier, monospace;

  .ui {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 16px;
    color: white;
    button: {
      color: grey;
    }
  }

  $size: 48px;

  div.image-with-swatch {
    position: relative;
    display: inline-block;
    z-index: 0;
    width: $size;
    height: $size;
    margin: 0;

    img {
      width: $size;
      height: $size;
    }

    h1 {
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      color: grey;
    }

    .swatch {
      position: absolute;
      width: $size/2;
      height: $size/2;
      z-index: 1;
      bottom: 0;
      left: 0;
      box-shadow: 2px -2px 10px rgba(0, 0, 0, 0.5);
    }
    code {
      display: block;
      position: absolute;
      color: grey;
      left: 0;
      bottom: 0;
      z-index: 2;
      font-size: 7px;
    }
  }
}
